
*venv
env
bootstrap-4.4.1-dist
bootstrap-4.4.1-dist.zip
.idea
__pycache__
*.log
.vscode
config.py
*.pyc
.coverage
htmlcov
chromedriver
db.sqlite3
ngrok
static_for_dep
node_modules
dist
exports.sh
.env
