DronovBook/djvenv/
FlaskByExamplesBook/venv/
AratynBook/env/
AratynBook/MyMDB/bootstrap-4.4.1-dist/
AratynBook/MyMDB/bootstrap-4.4.1-dist.zip
GrinbergBook/flasky/flvenv/
MeleBook/Blog/djvenv/
MeleBook/Bookmarks/bookmarksvenv/
#FlaskByExamplesBook/headlines/__pycache__/
AratynBook/MyMDB/django/.idea/
__pycache__/
*.log
