{% extends "base.html" %}

{% block title %}
  <h1>
    {{ mailinglist.name }} Management
    <a href="{% url 'mailinglist:delete_mailinglist' pk=mailinglist.id %}"
      class="btn btn-danger">
      Delete
    </a>
  </h1>

  <div>
    <a href="{% url 'mailinglist:create_subscriber' pk=mailinglist.id %}">
      Subscription Link
    </a>
  </div>

  <h2>Messages</h2>
  <div>
    Send new
    <a href="{% url 'mailinglist:create_message' mailinglist_pk=mailinglist.id %}"
      class="btn btn-primary">
      Send new Mesage    
    </a>
  </div>
  <ul>
    {% for message in mailinglist.message_set.all %}
      <li>
        <a href="{% url 'mailinglist:view_message' pk=message.id %}">
          {{ message.subject }}
        </a>
      </li>
    {% endif %}
  </ul>

  <h2>Subscibers</h2>
  <ul>
    {% for subsciber in mailinglist.subsciber_set.all %}
      <li>
        {{ subsciber.email }}
        {{ subsciber.confirmed|yesno:"confirmed,unconfirmed" }}
        <a href="{% url 'mailinglist:unsubscribe' pk=subscriber.id %}">
          Unsubscribe
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock title %}