{% extends "base.html" %}

{% block title %}
  Your mailing Lists
{% endblock %}

{% block body %}
  <div class="row user-mailing-lists">
    <div class="col-sm-12">
      <h1>Your Mailing Lists</h1>
      <div>
        <a href="{% url 'mailinglist:create_malinglist' %}" class="btn btn-primary">
          New List
        </a>
      </div>
      <p>Your maling lists:</p>
      <ul class="mailing-list-list">
        {% for mailinglist in mailinglist_list %}
          <li class="mailinglist-item">
            <a href="{% 'mainlinglist:manage_mailinglist' pk=mailinglist.id %">
              {{ mainlinglist.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}