<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlueBlog</title>
  </head>
  <body>
    {% block header %}
    <ul>
      {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'user_registration' %}">Register Account</a></li>
      {% endif %}
    </ul>
    {% endblock header %}

    {% block content %}
    {% endblock content %}
  </body>
</html>
