<!DOCTYPE html>
<html lang="en">
<head>
  <title>Notebook</title>
  <!-- Icons & Stylesheets -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>

  <!-- Notebook app -->
  <div id="notebook">

    <!-- Sidebar -->
    <aside class="side-bar">
      <!-- Toolbar -->
      <div class="toolbar">
        <button @click="addNote" :title="addButtonTitle">
          <i class="material-icons">add</i>Add note
        </button>
      </div>
      <div class="notes">
        <div class="note" v-for="note of notes" @click="selectNote(note)">
          {{ note.title }}
        </div>
      </div>

    </aside>

    <!-- Main pane -->
    <section class="main">
      <textarea v-model="selectedNote.content"></textarea>
    </section>

    <!-- Preview pane -->
    <aside class="preview" v-html="notePreview">
    </aside>

  </div>

  <!-- Include the library in the page -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/marked"></script>

  <!-- Some JavaScript -->
  <script src="script.js"></script>
</body>
</html>